<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div class="principal">
        <header>
         <p> Filmes Harry Potter</p>
        </header>

        <section>
            <p>Harry Potter só pode ser visto em ordem cronológica. Os filmes são bem lineares e os fatos apresentados em cada um se complementam.

                São oito filmes no total – seriam sete, como os livros em que foram baseados, mas o oitavo é divido em duas partes.
                
                Confira a ordem e o ano de lançamento de cada um:
                
                Harry Potter e a Pedra Filosofal (2001)
                Harry Potter e a Câmara Secreta (2002)
                Harry Potter e o Prisioneiro de Azkaban (2004)
                Harry Potter e o Cálice de Fogo (2005)
                Harry Potter e a Ordem da Fênix (2007)
                Harry Potter e o Enigma do Príncipe (2009)
                Harry Potter e as Relíquias da Morte: Parte 1 (2010)
                Harry Potter e as Relíquias da Morte: Parte 2 (2011)
            </p>
        </section>
        <p>  </p>

        <aside>

            <p>https://s2.glbimg.com/NQNKyVJA6sSL1fSfP2hXumjUWRo=/0x0:923x576/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_e84042ef78cb4708aeebdf1c68c6cbd6/internal_photos/bs/2023/V/0/SuFpI5SN6WuDlk4S1LZA/captura-de-tela-2023-02-17-130237.jpg  </p>
            
            
        </aside>


        <footer>
            <div class="parte1"> <p>Parte 1 </p> </div>
            <div class="parte2"> <P> Parte 2</P> </div>
            <div class="parte3"> <p> Parte 3</p> </div>
        </footer>

    </div>

</body>
</html>